<!DOCTYPE html>
<html>
<head>
	<title>Group Chat</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container">

		<div class="login-content">
			<form action="index.html" id="login-form">

           		<div class="input-div ">
           		   <div class="i"> 
           		    	<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="email" class="input" id="email"  name="email" placeholder="Email" required>
            	   </div>
            	</div>

			  <div class="input-div ">
				<div class="i"> 
					 <i class="fas fa-lock"></i>
				</div>
				<div class="div">
					 <input type="password" class="input" id="pas" name="password" placeholder="Password" required>
			     </div>
		  </div>
		  	<div class="links">
				<a href="../ForgetPas/forget.html">Forgot password?</a>
				<a href="../Signup/signup.html">Not a member?</a>
		  	</div>
            	<input type="submit" id="login" class="btn" value="Login">
            </form>
        </div>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="login.js"></script>
</body>
</html>